#generators_div {
    position: fixed;
    top: 100px;
    left: 15%;
    width: 800px;

    background-color: rgb(56, 56, 56);
    padding: 30px;
    display: none;
}

#generators_list {
    background-color: rgb(81, 60, 100);
    padding: 20px;
}

#generator_configuration {
    background-color: rgb(55, 88, 88);
    padding: 20px;
}

.generator_item {
    cursor: pointer;
    color: black;
    background-color: rgb(155, 155, 155);
}

.generator_item:hover {
    background-color: rgb(146, 81, 81);
}

