#generators_list {
    background-color: rgb(81, 60, 100);
    padding: 20px;
}

#generator_configuration {
    background-color: rgb(55, 88, 88);
    padding: 20px;
}

.generator_item {
    cursor: pointer;
    color: black;
    background-color: rgb(155, 155, 155);
}

.generator_item:hover {
    background-color: rgb(146, 81, 81);
}


.attribute_input.invalid {
    background-color: red;
}

.attribute_input {
    background-color: #1e1e1e;
    color: white;
    width: 80%;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px;
    transition: 200ms;
}

