#generators_list {
    /* background-color: rgb(54, 54, 54); */
    padding: 20px;
    width: 85%;
}

#generators_list_container {
    background-color: #898989;
    width: 50%;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
    /* Hide scrollbar for IE, Edge and Firefox */
    /* -ms-overflow-style: none;
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
}


/* #generators_list::-webkit-scrollbar {
    display: none;
} */

#generator_configuration {
    color: rgb(182, 182, 182);
    background-color: rgb(54, 54, 54);
    width: 50%;
    padding: 20px;
    border-left: 1px solid rgb(107, 107, 107);
    ;
    overflow: scroll;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
}

#generator_title {
    text-align: left;
    font-size: 31px;
    margin-bottom: 10px;
    margin-top: 0;
}

.generator_item {
    cursor: pointer;
    background-color: #1e1e1e;
    color: white;
    width: 90%;
    padding: 6px 10px 6px 20px;
    margin-bottom: 1px;
    font-family: serif;
    text-transform: capitalize;
}

.generator_item:hover {
    background-color: rgb(10, 38, 78);
}

.attribute_input.invalid {
    background-color: red;
}

.attribute_input {
    font-family: sans-serif;
    background-color: #1e1e1e;
    color: white;
    width: 80%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    /* transition: 200ms; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.attribute_range_current_value {
    width: 5ch;
    text-align: right;
}

.attr_percentage {
    width: 70%;
}

.attr_integer {
    width: 5ch;
    border: none;
    border-radius: 2px;
}

.generate_button_generators {
    margin: auto;
    cursor: pointer;
}