#params_loaded {
    /* background-color: #333333; */
    position: fixed;
    top: 5;
    right: 5;
    margin: 5px;
    /* border-radius: 5px; */
    color: #dddddd;
    font-family: sans-serif;
    /* border-top-left-radius: 15px; */
    align-items: flex-end;
    flex-direction: column;
    display: flex;
}

#params_available {
    /* background-color:#333333;
    color: #dddddd; */
    position: fixed;
    margin: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    display: none;
    padding: 5px;
    color: var(--color_div);
    background-color: var(--background_color_div);
    top: 50%;
    right: calc(50% - 100px);
    transform: translateY(calc(0px - 50%));
    padding: 5px;
    width: 200px;
    text-align: center;
    font-weight: bolder;
}

#params_available .param {
    display: block;
}

.param {
    margin: 1px;
    padding: 6px;
    background-color: var(--color_div);
    color: var(--background_color_div);
    /* background-color: #1e1e1e; */
    /* background-color: #929292; */
    /* color: #FFF; */
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    /* border: 1px solid; */
}

.parametor_printed {
    margin: 1px;
    /* background-color: #1e1e1e; */
    /* background-color: #929292; */
    color: var(--background_color_div);
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    display: grid;
    width: 200px;
    grid-template-columns: 15px 15px 130px minmax(15px, auto);
    column-gap: 2px;
    cursor: default;
    align-items: center;
    justify-content: end;
    padding: 1px 0px;
}

.div_button {
    font-weight: bolder;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 20px;
}

#params_loaded_button {
    background-color: #fff;
    color: #1e1e1e;
}

#params_available_button:after {
    display: inline-block;
    content: "\00d7";
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.remove_param_button {
    /* color: #1e1e1e;
    width: 15px;
    height: calc(15px - 0.1em);
    background-color: #ff4545;
    border: 1px solid #1e1e1e;
    padding: 0;
    font-size: 30px;
    margin-right: 7px;
    padding-bottom: 0.1em; */
    /* width: 18px; */
    visibility: hidden;
    z-index: -10;
    /* display: none; */
    opacity: 0;
    transition: opacity ease-in 0.1s;
    cursor: pointer;
}

.parametor_printed:hover .remove_param_button {
    visibility: visible;
    z-index: 1;
    /* display: block; */
    opacity: 1;
}

.result_span {
    margin-left: 5px;
    justify-self: center;
}

.subgraph_option {
    cursor: pointer;
    margin: 2px;
    font-weight: initial;
    border: 1px solid;
    margin: 3px 8px;
    /* display: none; */
}


/* .active_subgraph{
    display: block;
} */

.span_area_name_parametor {
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 5px;
    /* margin-right: 4px; */
    /* border: 1px solid black; */
    cursor: pointer;
}

.param_div_list_graph_container {
    display: none;
}

#area_list_container {
    position: fixed;
    bottom: 9px;
    left: 7px;
    font-family: sans-serif;
}

.reload_img {
    /* width: 18px;
    margin-left: 5px; */
    cursor: pointer;
}

.boolean_result {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
}

.inactive_boolean_result {
    background-color: #000;
}

.true_boolean_result {
    background-color: rgb(44, 138, 28);
}

.false_boolean_result {
    background-color: rgb(220, 15, 18);
}

.inactive_parametor {
    display: none;
}

.subgraph_parametors {
    margin: 4px 0;
    display: flex;
    align-items: end;
    flex-direction: column;
    /* background: #ffffff91; */
    border-radius: 5px;
    /* padding-top: 3px; */
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px;
}

#subgraph_list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.param_list_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.param_list_container::after {
    content: "";
    height: 7px;
    width: 15px;
    border-right: var(--background_color_div) 1px solid;
    border-bottom: var(--background_color_div) 1px solid;
    margin-top: 1.2em;
    position: absolute;
    bottom: -2px;
    right: -4px;
}

.parametor_name {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title_area_container {
    display: grid;
    grid-template-columns: 15px max-content 15px;
    justify-items: end;
    column-gap: 5px;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.load_new_parametor_button {
    opacity: 0.3;
    transition: opacity ease-in-out 0.1s;
    cursor: pointer;
    width: 15px;
}

.load_new_parametor_button:hover {
    opacity: 1;
}

.expand_button {
    cursor: pointer;
    width: 13px;
    justify-self: left;
    opacity: 0.3;
    transition: all ease-in-out 0.1s;
}

.expand_button:hover {
    opacity: 1;
}

.expanded {
    transform: rotate(90deg);
    opacity: 1;
}

.hidden_list {
    display: none!important;
}

.invalid_result {
    color: #bf7979;
}