.search_filter_container {
    background: inherit;
    width: 100%;
    /* padding: 1px 0 10px; */
    display: flex;
    position: sticky;
    top: 0px;
    padding: 10px 0px;
}

input.search_filter {
    width: 70%;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 12px 20px 12px 40px;
    font-family: system-ui, Segoe UI, Helvetica, Arial, sans-serif;
    box-shadow: 0 6px 3px #0000001f, 0 3px 3px #0000003d;
    margin: 0 auto;
}

input.search_filter:focus {
    outline: none;
}