.weight_input {
    position: fixed;
    width: 3em;
    z-index: 1;
}

.weight_link {
    position: fixed;
    color: white;
}

.text_zone{
    position: fixed;
    color: white;
}

#text_zone_input{
    position: fixed;
    z-index: 1;
    color: white;
    background-color: black;
}
